{% extends 'layout.njk' %}
{% import 'parts/searction-products.njk' as section %}

{% block content %}
<section class="search-produtcts container">
    <aside>
        <div class="header">
            <h2>{{search.term}}</h2>
            <p>12 {{search.total}}</p>
        </div>

        <nav class="categories">
            <h4>Categorias</h4>
            <ul>
                {% for category in categories %}
                    <li><a href="/products/search?filter={{search.term}}&category={{category.id}}">{{search.category.name}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </aside>

    {{section.products('', 'searched', products)}}
</section>
{% endblock content %}